.li {

    height: 80px;
    width: 500px;

}


.list {

    list-style: none;
    font-size: 4.5em;
    font-weight: bold;
    color: white;

}

.li:hover {

   cursor: pointer;
   color: darkgray;

}

.rectangle {
    width: 900px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    box-shadow: 2px 2px 10px black;
    color: rgb(112, 112, 112);
    margin-top: 35px;

}

h2 {

    margin: 10px;
    width: 400px;

    
}

h4 {

    margin-left: 10px;

}

.boutons {

    margin: 25px;
    float: left;
    height: 40px;
    width: 250px;
    background-color: white;
    border-radius: 30px;
    color: rgb(90, 90, 90);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px black;

}

.boutons:hover {
  
    box-shadow: 2px 2px 15px black;
    cursor: pointer;

}

.recherche {

    margin: 15px;
    padding: 15px;
    float: left;
    height: 55px;
    width: 875px;
    background-color: white;
    border-radius: 40px;
    color: rgb(90, 90, 90);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

#comment {

    text-align: center;
    height: 0px;

}

#comment:hover {

    text-decoration: underline;
    cursor: pointer;

}

.pictures {

    width: 300px;
    height: 300px;
    display: inline-flex;
    margin: 35px;
    margin-top: 80px;
    box-shadow: 1px 2px 15px black;
}

.pictures>img {

    width: 100%;
    height: 100%;    

}

.pictures:hover {

    box-shadow: 3px 5px 25px black;
    cursor: pointer;

}

.date {

    position: absolute;
    margin: 10px;
    color: white;
    font-weight: bold;

}

#flo {

    position: absolute;
    margin: 10px;
    color: black;
    font-weight: bold;

}

.nom {

    position: absolute;
    margin: 10px;
    color: white;
    font-weight: bold;
    bottom: 70px;
    font-size: 2em;

}

#for {
    
    position: absolute;
    margin: 10px;
    color: black;
    font-weight: bold;
    bottom: 70px;
    font-size: 2em;

}

