.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.partner-logo img {
    width: 130px;
}

.partner-logo {
    box-shadow: 6px 10px 9px -4px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
    transition: all 0.2s linear;
}

.partner-logo:hover {
    box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.1), 0 6px 5px rgba(0,0,0,0.1);
}