body, html {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    width: 100%;   
}
.btn-primary {
    color: #fff !important;
    background-color: #A4BCE4 !important;
    border-color: #A4BCE4 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #89ace6 !important;
    border-color: #89ace6 !important;
}

.btn-default {
    border-color: #89ace6;
    background-color: #ffffff;
    color: #000;
}

.btn-default:hover {
    border-color: #89ace6;
    background-color: #89ace6;
    color: #fff;
}

.header-background {
    background-image: url(../IMG/travel.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: #e2eaf6 !important;
}

footer {
    background-color: #e2eaf6;
}