.card, .card-img {
	border-radius: 10px;
	transition: all .2s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}

.card:active {
	transform: scale(1);
	transform: translateY(5px);
	box-shadow: 4px 4px 4px grey;
}