

    <!-- MAIN CATEGORIES --> 
    <div class="container-fluid header-background">
        <div class="row">
            <div class="col-6">
                <ul class="list">
                    <li class="li">MUSIQUE</li>
                    <li class="li">SPORT</li>
                    <li class="li">FESTIVALS</li>
                    <li class="li">SPECTACLES</li>
                    <li class="li">ASSOCIATIONS</li>
                    <li class="li">ESPORT</li>
                </ul>
            </div>

            <!-- RECTANGLE -->
            <div class="col-6">
                <div class="rectangle">

                    <h2>Vivez votre passion</h2>
                    <h4>Profitez dès maintenant de ce nouveau service</h4>

                    <div class="boutons">Billeterie</div>
                    <div class="boutons">Transports</div>
                    <div class="boutons">Hébergements</div>

                    <div class="recherche">
                        <button id="bouton" class="btn btn-primary rounded-pill">Rechercher</button>
                    </div>

                    <h4 id="comment">Comment ça marche ?</h4>
                </div>   
            </div>
        </div>
     
  


    <!-- PICTURES -->

    <div class="pictures">
        <p class="date">25/05/2020</p>
        <img src="IMG/orel.jpg" alt="Orel">
    </div>
    <div class="pictures">
        <p class="date">17/10/2020</p>
        <img src="IMG/celine.jpg" alt="">
    </div>
    <div class="pictures">
        <p class="date">25/05/2020</p>
        <img src="IMG/nekfeu.jpg" alt="">
    </div>
    <div class="pictures">
        <p id="flo">22/04/2020</p>
        <img src="IMG/florence.jpg" alt="">
    </div>
    <div class="pictures">
        <p class="date">21/05/2021</p>
        <img src="IMG/romeo.jpg" alt="">
    </div>
</div>