<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Comment ça marche ?</h1>
  </div>
</div>
<div class="container mb-5">
  <div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Etape 1</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Etape 2</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Etape 3</p>
      </div>
    </div>
  </div>

  <div class="row setup-content" id="step-1">
    <div class="col-xs-6 col-md-offset-3">
      <div class="col-md-12">
        <h3> Etape 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.<p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary rounded-pill nextBtn btn-lg pull-right" type="button">Suivant</button>
            </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-2">
    <div class="col-xs-6 col-md-offset-3">
      <div class="col-md-12">
        <h3> Etape 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.<p>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary rounded-pill previousBtn btn-lg pull-right"
                type="button">Précédent</button>
              <button class="btn btn-primary rounded-pill nextBtn btn-lg pull-right" type="button">Suivant</button>
            </div>

      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-3">
    <div class="col-xs-6 col-md-offset-3">
      <div class="col-md-12">
        <h3> Etape 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.<p>
            <div class="d-flex justify-content-start">
              <button class="btn btn-primary rounded-pill previousBtn btn-lg pull-right"
                type="button">Précédent</button>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Nos partenaires</h1>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-2 partner-logo">
          <a href="#">
            <img src="IMG/logo1.png" alt="">
          </a>
        </div>
        <div class="col-md-2 partner-logo d-flex justify-content-center">
          <a href="#">
            <img src="IMG/logo2.png" alt="">
          </a>
        </div>
        <div class="col-md-2 partner-logo d-flex justify-content-center">
          <a href="#">
            <img src="IMG/logo3.png" alt="">
          </a>
        </div>
        <div class="col-md-2 partner-logo d-flex justify-content-center">
          <a href="#">
            <img src="IMG/logo4.png" alt="">
          </a>
        </div>
        <div class="col-md-2 partner-logo d-flex justify-content-center">
          <a href="#">
            <img src="IMG/logo5.png" alt="">
          </a>
        </div>
        <div class="col-md-2 partner-logo d-flex justify-content-center">
          <a href="#">
            <img src="IMG/logo6.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
