<nav class="navbar container navbar-light bg-light">
  <a class="navbar-brand">
    <img src="IMG/icon.svg" height="60" alt="mdb logo">
  </a>
  <form class="form-inline">
    <button class="btn btn-primary rounded-pill my-2 mr-3" type="submit">Connexion</button>
    <button class="btn btn-primary rounded-pill my-2 my-sm-0" type="submit">Inscription</button>
  </form>
</nav>
