<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Les Villes à la Une</h1>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 mr-1 ml-1">
  <div class="col mb-4">
    <div class="card bg-dark text-white">
      <img src="IMG/bastia.png" class="card-img" alt="bastia">
      <div class="card-img-overlay">
        <h5 class="card-title">Bastia</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
	<div class="card bg-dark text-white">
      <img src="IMG/st_florent.png" class="card-img" alt="saint florent">
      <div class="card-img-overlay">
        <h5 class="card-title">St Florent</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card bg-dark text-white">
      <img src="IMG/ajaccio.png" class="card-img" alt="ajaccio">
      <div class="card-img-overlay">
        <h5 class="card-title">Ajaccio</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
	<div class="card bg-dark text-white">
      <img src="IMG/dunkerque.png" class="card-img" alt="dunkerque">
      <div class="card-img-overlay">
        <h5 class="card-title">Dunkerque</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card bg-dark text-white">
      <img src="IMG/montpellier.png" class="card-img" alt="montpellier">
      <div class="card-img-overlay">
        <h5 class="card-title">Montpellier</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
	<div class="card bg-dark text-white">
      <img src="IMG/lyon.png" class="card-img" alt="lyon">
      <div class="card-img-overlay">
        <h5 class="card-title">Lyon</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card bg-dark text-white">
      <img src="IMG/lille.png" class="card-img" alt="lille">
      <div class="card-img-overlay">
        <h5 class="card-title">Lille</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
	<div class="card bg-dark text-white">
      <img src="IMG/paris.png" class="card-img" alt="paris">
      <div class="card-img-overlay">
        <h5 class="card-title">Paris</h5>
      </div>
    </div>
  </div>
</div>